In [41]:
#All The required libraries
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.decomposition import PCA
from sklearn import linear_model

In [2]:
df = pd.DataFrame()

In [118]:
#Read the input file(train)
df = pd.read_csv("/home/rish/train_NIR5Yl1.csv", delimiter = ',')
df_test = pd.read_csv("/home/rish/test_8i3B3FC.csv", delimiter = ',')

In [4]:
df1 = pd.DataFrame()

In [5]:
df1 = df
df1.head()

       ID Tag  Reputation  Answers  Username    Views  Upvotes
0   52664   a      3942.0      2.0    155623   7855.0     42.0
1  327662   a     26046.0     12.0     21781  55801.0   1175.0
2  468453   c      1358.0      4.0     56177   8067.0     60.0
3   96996   a       264.0      3.0    168793  27064.0      9.0
4  131465   c      4271.0      4.0    112223  13986.0     83.0

In [6]:
#Removing the useless features
df1 = df1.drop(columns=['ID'], axis=1)

In [7]:
df1.drop('Tag', axis =1, inplace=True)

In [8]:
df1.head()

   Reputation  Answers  Username    Views  Upvotes
0      3942.0      2.0    155623   7855.0     42.0
1     26046.0     12.0     21781  55801.0   1175.0
2      1358.0      4.0     56177   8067.0     60.0
3       264.0      3.0    168793  27064.0      9.0
4      4271.0      4.0    112223  13986.0     83.0

In [9]:
#Create Y_train and X_train from the given data
y_train = df1['Upvotes']

In [10]:
df1.drop('Upvotes', axis = 1, inplace = True)

In [11]:
x_train = np.array(df1)
y_train = np.array(y_train)

In [144]:
new_df = df_test['ID']

In [48]:
#df_test.drop(columns = ['ID','Tag'], axis = 1, inplace = True)

In [49]:
x_test = np.array(df_test)

In [50]:
#Scale the given input data
x_train_scaled = preprocessing.scale(x_train)
x_test_scaled = preprocessing.scale(x_test)

In [43]:
reg = linear_model.Ridge(alpha = 0.5)

In [45]:
reg.fit(x_train_scaled,y_train)

Ridge(alpha=0.5, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001)

In [56]:
y_pred = reg.predict(x_test_scaled)

In [57]:
reg.score(x_test_scaled,y_pred)

1.0

In [61]:
np.savetxt("ypred.csv", y_pred, delimiter = ',' )

In [117]:
df_test.head()

   Reputation  Answers  Username    Views
0      5645.0      3.0     50652  33200.0
1     24511.0      6.0     37685   2730.0
2       927.0      1.0    135293  21167.0
3        21.0      6.0    166998  18528.0
4      4475.0     10.0     53504  57240.0

In [145]:
new_df = pd.DataFrame(new_df)

In [142]:
del new_df

In [146]:
y_pred_df = pd.DataFrame(y_pred, columns = ["Upvotes"])

In [147]:
new_df = pd.concat([new_df,y_pred_df], axis = 1)

In [148]:
new_df.head()

       ID     Upvotes
0  366953  372.016257
1   71864  266.474272
2  141692   34.533280
3  316833 -243.960732
4  440445  548.941321

In [149]:
pred_array = np.array(new_df)

In [150]:
np.savetxt("ypredfinal.csv", pred_array, delimiter = ',' )

In [ ]:
t